/* Fundo elegante preto */
.login-magnata-bg {
  background-color: #0f0f0f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cartão com contorno dourado */
.login-card-magnata {
  background-color: #1a1a1a;
  border: 2px solid #d4af37;
  border-radius: 12px;
  padding: 40px 30px;
  width: 350px;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 0 20px rgba(212, 175, 55, 0.4);
}

/* Logo com espaçamento */
.logo-magnata {
  width: 100px;
  margin-bottom: 25px;
  border-radius: 8px;
  background-color: white;
  padding: 5px;
}

/* Inputs elegantes */
.login-card-magnata input {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #2b2b2b;
  border: 1px solid #d4af37;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
}

.login-card-magnata input::placeholder {
  color: #aaaaaa;
}

/* Botão com estilo premium */
.login-card-magnata button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background-color: #d4af37;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
}

.login-card-magnata button:hover {
  background-color: #f5c942;
  box-shadow: 0 0 10px #d4af37;
}
